header .space-odyssey,
header .space-odyssey-mask {
  @apply absolute top-0 left-1/2 -translate-x-1/2 w-auto h-full object-cover min-[1500px]:w-full min-[1500px]:h-auto;
}

header .linear-gradient {
  @apply absolute inset-0 
  bg-gradient-to-r from-black/50 to-transparent 
  accent:bg-gradient-to-r accent:from-primary accent:to-primary accent:mix-blend-hue;
}

main section {
  padding: 100px 0;
}

@media (max-width: 767px) {
  main section {
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .container-bootstrap {
    padding-left: 40px;
    padding-right: 40px;
  }
}
