@import "tailwindcss";

/* @custom-variant dark (&:where(.dark-mode, .dark-mode *)); */

@theme {
  --color-magenta: #906;
  --color-gray-base: #000;
  --color-gray-darker: #333;
  --color-gray-dark: #393939;
  --color-gray: #666;
  --color-gray-light: #ccc;
  --color-gray-lighter: #ececec;

  --font-sans: "Open Sans Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
  /* --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px; */
}

@layer base {
  html,
  body {
    @apply overflow-x-hidden;
  }

  body {
    @apply text-gray-darker dark:text-white dark:bg-[#111];
  }
}

@import "./fonts.css";
@import "./expecticons.css";
@import "./above-the-fold.css";
@import "./expect.css";
@import "./animations.css";
