@import "tailwindcss";

/* NOTE: manual imports to disable Preflight https://tailwindcss.com/docs/preflight#disabling-preflight */
/* @layer theme, base, components, utilities; */
/* @import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities) important; */

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant accent (&:where(.accent, .accent *));

@theme {
  --color-primary: #906;
  --color-gray-base: #000;
  --color-gray-darker: #333;
  --color-gray-dark: #393939;
  --color-gray: #666;
  --color-gray-light: #ccc;
  --color-gray-lighter: #ececec;

  --font-sans: "Open Sans Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Alegreya Sans SC", "Open Sans Variable", "Segoe UI", "Roboto",
    "Droid Sans", "Helvetica Neue", "Arial", sans-serif;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1600px;

  --animate-spin_right: spin_right 5s linear infinite;
  --animate-spin_right_fast: spin_right 4s linear infinite;
  --animate-spin_left: spin_left 5s linear infinite;

  --animate-rotating-border: rotating-border 4s linear infinite;
}

@keyframes spin_right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin_left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotating-border {
  to {
    --border-angle: 360deg;
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

:root {
  --swiper-pagination-color: var(--color-primary);
  --swiper-theme-color: var(--color-primary);
  --swiper-navigation-color: var(--color-primary);
}

.accent {
  --color-primary: #00809d;
}

@layer base {
  html,
  body {
    @apply overflow-x-hidden scroll-smooth;
  }

  body {
    @apply text-gray-darker dark:text-white dark:bg-[#111] font-sans text-base leading-normal m-0;
  }

  a:focus-visible,
  a:focus-visible figure,
  .portfolio-next:focus-visible:before,
  .swiper-button:focus-visible {
    @apply outline-dashed! outline-2 outline-offset-2;
  }

  .container-bootstrap {
    @apply mx-auto px-10 md:w-[750px] md:px-[15px] min-[992px]:w-[970px] xl:w-[1170px] max-md:px-10;
  }

  main section {
    @apply py-[100px] max-md:py-10 px-0;
  }
}

@layer components {
  .btn {
    @apply border border-transparent px-3 py-1.5 inline-flex items-center justify-center gap-2 text-center whitespace-nowrap align-middle cursor-pointer;

    touch-action: manipulation;
    user-select: none;
  }

  .btn-default {
    @apply text-white bg-transparent border-white hover:bg-white hover:text-primary;
  }

  .btn-primary {
    @apply text-primary bg-white border-white;
  }

  .btn-lg {
    @apply px-[50px] py-[18px] text-xl leading-tight;
  }

  .badge {
    @apply inline-flex items-center rounded-full px-2 py-1 text-sm font-medium inset-ring inset-ring-gray-light;
  }
}

@layer utilities {
  .bg-gradient-border-rotating {
    border: 1px solid transparent;
    background: linear-gradient(45deg,black,var(--color-gray-dark) 50%,black) padding-box, 
    conic-gradient(from var(--border-angle), theme('colors.slate.600 / 48%') 80%, theme('colors.indigo.500') 86%, theme('colors.indigo.300') 90%, theme('colors.indigo.500') 94%, theme('colors.slate.600 / 48%')) border-box;
  }

  .bg-primary-border-rotating {
    /* NOTE: kudos to https://cruip.com/animated-gradient-borders-with-tailwind-css/ and https://ibelick.com/blog/create-animated-gradient-borders-with-css */
    /* NOTE: for no sharp edges add one more color stop, e.g. conic-gradient(from var(--border-angle), white, var(--color-primary), white) border-box; */
    border-color: transparent;
    background: linear-gradient(var(--color-primary),var(--color-primary)) padding-box, 
    conic-gradient(from var(--border-angle), white, var(--color-primary)) border-box;
  }
}

@import "./fonts.css";
@import "./expecticons.css";
