---
import Layout from "../layouts/Layout.astro";
import FrontendAndBeyond from "../components/FrontendAndBeyond.astro";
import FeaturedWork from "../components/FeaturedWork.astro";
import Intermission from "../components/Intermission.astro";
import StartBuilding from "../components/StartBuilding.astro";
import FullOfStars from "../components/FullOfStars.astro";
import Infinity from "../components/Infinity.astro";
---

<Layout>
  <div class="container-bootstrap">
    <FrontendAndBeyond />
  </div>
  <FeaturedWork />
  <Intermission />
  <StartBuilding />
  <Infinity />
  <FullOfStars />
</Layout>
