<div
  class="absolute size-[126px] overflow-hidden z-50 honorable black top-0 right-0"
>
  <a
    href="http://www.awwwards.com/best-websites/expect-web-development/"
    class="awwwards -outline-offset-2 absolute size-[126px] top-0 left-0 block bg-no-repeat bg-[4px_-23px] bg-[length:145px_145px] bg-[url('/img/awwwards_honorable_black.png')]"
  >
    <span class="sr-only">Awwwards </span></a
  >
</div>

<style>
  .awwwards {
    @media only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url("/img/awwwards_honorable_black@2x.png");
    }
  }
</style>
