<section class="featured dreamers" id="portfolio">
  <div class="container">
    <div class="grid sm:grid-cols-12 gap-4">
      <div class="sm:col-span-10 sm:col-start-2">
        <div class="grid sm:grid-cols-12 gap-4">
          <div class="sm:col-span-4">
            <h1>Featured work</h1>
            <ul class="list-unstyled portfolio-descriptions">
              <li>
                <h2>Dreamers Inc.</h2>
                <blockquote>
                  <p>
                    You may say that I’m a dreamer
                    <br /> but I’m not the only one
                    <br /> I hope someday you’ll join us
                    <br /> and the world will be as one.
                  </p>
                </blockquote>
                <p>The best client you can work with!</p>
                <p>
                  <a
                    onclick="trackOutboundLink('http://thedreamers.us/'); return false;"
                    href="http://thedreamers.us/"
                    class="color-magenta text-big">thedreamers.us</a
                  >
                </p>
              </li>
              <li>
                <h2>Upwork Global Inc.</h2>
                <p>oDesk is now Upwork.</p>
                <p>
                  Freelance marketplaces <em>Elance</em> and <em>oDesk</em> are now
                  rebranded and merged together under the new name - Upwork. It was
                  (and still is) exciting experience to be a part of the team which
                  made it happen.
                </p>
                <p>
                  <a
                    onclick="trackOutboundLink('http://upwork.com/'); return false;"
                    href="http://upwork.com/"
                    class="color-magenta text-big">upwork.com</a
                  >
                </p>
              </li>
              <li>
                <h2>
                  Responsive website<br />
                  for an outsourcing company
                </h2>
                <p>
                  A website with SVG animations and highest accessibility
                  standards. PSD by <a
                    onclick="trackOutboundLink('http://heavyform.com/'); return false;"
                    href="http://heavyform.com/"
                    class="color-magenta">Heavyform&#174; Creative Agency</a
                  >. Optimized with handcrafted lazy loading, Google PageSpeed
                  Insights, YSlow, Web Developer Checklist and HTML CodeSniffer.
                  The website works even with javascript disabled!
                </p>
                <p>
                  <a
                    onclick="trackOutboundLink('http://old.novalite.rs/'); return false;"
                    href="http://old.novalite.rs/"
                    class="color-magenta text-big">novalite.rs</a
                  >
                </p>
              </li>
              <li>
                <h2>A personal photography blog</h2>
                <p>
                  Responsive Wordpress theme with preserved IPTC/EXIF data, SEO
                  friendly image names and a lot of small details. What
                  photographers actually want.
                </p>
                <p>
                  <a
                    onclick="trackOutboundLink('http://tothtamas.tt/'); return false;"
                    href="http://tothtamas.tt/"
                    class="color-magenta text-big">tothtamas.tt</a
                  >
                </p>
              </li>
              <li>
                <h2>A customized Tumblr theme</h2>
                <p>
                  Custom Tumblr theme based on <a
                    onclick="trackOutboundLink('https://www.tumblr.com/theme/37310'); return false;"
                    href="https://www.tumblr.com/theme/37310"
                    class="color-magenta">Optica</a
                  > by <em>Kristoffer.</em> with fine tuned social sharing rules.
                  But enough with the technical details already, here, Vackor is
                  the star!
                </p>
                <p>
                  <a
                    onclick="trackOutboundLink('http://lapetitevackor.tumblr.com/tagged/lapetitevackor/chrono/'); return false;"
                    href="http://lapetitevackor.tumblr.com/tagged/lapetitevackor/chrono/"
                    class="color-magenta text-big">lapetitevackor.tumblr.com</a
                  >
                </p>
              </li>
              <li>
                <h2>Conference speech</h2>
                <p>
                  I gave a talk at a conference for designers and front-end
                  developers about accessibility, user experience and
                  performance. If you are interested in <abbr
                    title="Web Content Accessibility Guidelines">WCAG</abbr
                  > 2.0, <abbr title="Accessible Rich Internet Applications"
                    >WAI-ARIA</abbr
                  > or Schema.org, check out the slides and the video at
                </p>
                <p>
                  <a
                    onclick="trackOutboundLink('http://dafed.org/'); return false;"
                    href="http://dafed.org/"
                    class="color-magenta text-big">dafed.org</a
                  >
                </p>
              </li>
            </ul>
          </div>
          <div class="sm:col-span-8">
            <div class="nexus10">
              <div class="screen-tablet">
                <img
                  src="img/portfolio-tablet.jpg?ver=28082025"
                  srcset="img/portfolio-tablet@2x.jpg?ver=28082025 2x"
                  alt="Portfolio on a tablet"
                  class="portfolio-tablet"
                />
              </div>
              <div class="nexus5">
                <div class="screen-smartphone">
                  <img
                    src="img/portfolio-smartphone.jpg?ver=28082025"
                    srcset="img/portfolio-smartphone@2x.jpg?ver=28082025 2x"
                    alt="Portfolio on a smartphone"
                    class="portfolio-smartphone max-w-none"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="portfolio-next" type="button">Next portfolio item</button>
</section>
