---
const socialLinks = [
  {
    url: "https://talpitoo.com/",
    icon: "tt",
    classes: "text-primary! animate-pulse",
  },
  {
    url: "https://twitter.com/talpitoo",
    icon: "twitter",
    classes: "",
  },
  {
    url: "https://instagram.com/talpitoo",
    icon: "instagram",
    classes: "",
  },
  {
    url: "https://github.com/talpitoo",
    icon: "github",
    classes: "",
  },
];
---

<footer class="text-gray bg-gray-darker px-0 py-[50px]">
  <div class="container-bootstrap">
    <div class="grid md:grid-cols-12 -mx-[15px]">
      <div class="md:col-span-10 md:col-start-2 px-[15px]">
        <div class="lg:grid lg:grid-cols-12 -mx-[15px]">
          <div class="lg:col-span-8 px-[15px]">
            <p class="mb-[30px]">
              &copy; <a
                onclick="trackOutboundLink('https://talpitoo.com/'); return false;"
                href="https://talpitoo.com/"
                class="text-gray-light">Tóth Tamás</a
              > 2014 - ∞
            </p>
            <p id="footnote" class="target:bg-primary/10 mb-[15px]">
              <sup>1</sup>
              <span class="text-gray-light">us/our/we</span> refers to myself, my
              alter ego and I, the
              <abbr title="Chief executive officer" class="text-gray-light"
                >CEO</abbr
              >,
              <abbr title="Chief technology officer" class="text-gray-light"
                >CTO</abbr
              > and
              <abbr
                title="Obsessive–compulsive disorder"
                class="text-gray-light">OCD</abbr
              > of Expect.
            </p>
            <p>
              Infinity font by <a
                onclick="trackOutboundLink('https://hungarumlaut.com/'); return false;"
                href="https://hungarumlaut.com/"
                class="text-gray-light">Katyi Ádám</a
              >
            </p>
            <p>
              Header image by <a
                onclick="trackOutboundLink('https://en.wikipedia.org/wiki/Stanley_Kubrick_Archive'); return false;"
                href="https://en.wikipedia.org/wiki/Stanley_Kubrick_Archive"
                class="text-gray-light">Stanley Kubrick Archive</a
              >
            </p>
          </div>
          <div class="lg:col-span-4 px-[15px]">
            <div class="inline-flex size-[150px] justify-center items-center align-middle relative -mt-[70px] float-right hover:transition-all hover:ease-in-out hover:transform hover:-rotate-5 hover:scale-110 md:max-lg:-mt-[50px] max-md:float-none max-md:mt-[30px]">
                <div class="inset-0 shadow-lg shadow-pink-500 rounded-full absolute animate-spin_right"></div>                
                <div class="inset-0 shadow-lg shadow-violet-500 rounded-full absolute animate-spin_left"></div>
                <div class="inset-0 shadow-lg shadow-cyan-500 rounded-full absolute animate-spin_right_fast"></div>

                <!-- Chrome colors
                <div class="inset-0 shadow-lg shadow-[#f53f34] rounded-full absolute animate-spin_right"></div>
                <div class="inset-0 shadow-lg shadow-[#00ac62] rounded-full absolute animate-spin_left"></div>
                <div class="inset-0 shadow-lg shadow-[#ffd82b] rounded-full absolute animate-spin_right_fast"></div>
                <div class="inset-0 shadow-lg shadow-[#4f6cf8] rounded-full absolute animate-spin_left"></div> -->

                <a
                href="#monolith"
                class="inline-flex flex-col items-center justify-center size-[150px] bg-gray-dark rounded-full relative"
              >
                <i class="text-gray-light block text-[78px] leading-none">et</i>
                <span
                  class="h-5 leading-5 m-0 text-sm italic block text-center text-gray-light"
                  >Expect us.</span
                >
              </a>
            </div>

            
            <ul class="list-unstyled list-inline list-social float-right">
              {
                socialLinks.map((link) => (
                  <li>
                    <a
                      onclick={`trackOutboundLink('${link.url}'); return false;`}
                      href={link.url}
                      class={`${link.classes}`}
                    >
                      <i>{link.icon}</i>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <img
          itemprop="image"
          src="img/cover1600x1300.png?ver=28082025"
          alt="Expect"
          width="1600"
          height="1300"
          class="sr-only"
        />
      </div>
    </div>
  </div>
</footer>

<style>
  footer a,
  footer a:hover,
  footer a:active,
  footer a:focus {
    color: var(--color-gray-light);
    transition: all 200ms ease 0s;
  }

  .list-social {
    clear: both;
    margin-top: 30px;
  }

  .list-social li {
    display: inline-block;
  }

  .list-social a {
    color: var(--color-gray);
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    right: 0;
  }

  .list-social a:hover,
  .list-social a:focus {
    transform: scale(1.3);
  }

  .list-social > li {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 40px;
  }

  @media (max-width: 767px) {
    .list-social {
      margin-top: 10px;
    }
  }

  .list-inline {
    margin-left: -5px;
  }

  .list-inline,
  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
</style>
