<footer>
  <div class="container">
    <div class="grid sm:grid-cols-12 gap-4">
      <div class="sm:col-span-10 sm:col-start-2">
        <div class="grid sm:grid-cols-12 gap-4">
          <div class="col-span-8">
            <p>
              &copy; <a
                onclick="trackOutboundLink('http://tothtamas.tt/'); return false;"
                href="http://tothtamas.tt/"
                class="text-gray-light">Tóth Tamás</a
              > 2014 - ∞
            </p>
            <p>
              <sup>1</sup>
              <span class="text-gray-light">us/our/we</span> refers to myself, my alter
              ego and I, the
              <abbr title="Chief executive officer" class="text-gray-light"
                >CEO</abbr
              >,
              <abbr title="Chief technology officer" class="text-gray-light"
                >CTO</abbr
              > and
              <abbr title="Obsessive–compulsive disorder" class="text-gray-light"
                >OCD</abbr
              > of Expect.
            </p>
            <p>
              Infinity font by <a
                onclick="trackOutboundLink('http://hungarumlaut.com/'); return false;"
                href="http://hungarumlaut.com/"
                class="text-gray-light">Katyi Ádám</a
              >
            </p>
            <p>
              Header image by <a
                onclick="trackOutboundLink('http://en.wikipedia.org/wiki/Stanley_Kubrick_Archive'); return false;"
                href="http://en.wikipedia.org/wiki/Stanley_Kubrick_Archive"
                class="text-gray-light">Stanley Kubrick Archive</a
              >
            </p>
          </div>
          <div class="col-span-4">
            <div class="logo-footer float-right">
              <i>et</i>
              <p class="text-center text-gray-light">Expect us.</p>
            </div>
            <ul class="list-unstyled list-inline list-social float-right">
              <li>
                <a
                  onclick="trackOutboundLink('https://talpitoo.com/'); return false;"
                  href="https://talpitoo.com/"
                  ><i>tt</i><span class="sr-only">talpitoo.com</span></a
                >
              </li>
              <li>
                <a
                  onclick="trackOutboundLink('https://twitter.com/talpitoo'); return false;"
                  href="https://twitter.com/talpitoo"
                  ><i>twitter</i><span class="sr-only">@talpitoo</span></a
                >
              </li>
              <li>
                <a
                  onclick="trackOutboundLink('http://instagram.com/talpitoo'); return false;"
                  href="http://instagram.com/talpitoo"
                  ><i>instagram</i><span class="sr-only">Instagram</span></a
                >
              </li>
              <li>
                <a
                  onclick="trackOutboundLink('https://github.com/talpitoo'); return false;"
                  href="https://github.com/talpitoo"
                  ><i>github</i><span class="sr-only">github.com/talpitoo</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
        <img
          itemprop="image"
          src="img/cover1600x1300.png?ver=28082025"
          alt="Expect"
          width="1600"
          height="1300"
          class="sr-only"
        />
      </div>
    </div>
  </div>
</footer>
