---
const socialLinks = [
  {
    url: "https://talpitoo.com/",
    icon: "tt",
    classes: "text-primary! animate-pulse"
  },
  {
    url: "https://twitter.com/talpitoo",
    icon: "twitter",
    classes: ""
  },
  {
    url: "https://instagram.com/talpitoo",
    icon: "instagram", 
    classes: ""
  },
  {
    url: "https://github.com/talpitoo",
    icon: "github",
    classes: ""
  }
];
---

<footer>
  <div class="container-bootstrap">
    <div class="grid md:grid-cols-12 -mx-[15px]">
      <div class="md:col-span-10 md:col-start-2 px-[15px]">
        <div class="lg:grid lg:grid-cols-12 -mx-[15px]">
          <div class="lg:col-span-8 px-[15px]">
            <p>
              &copy; <a
                onclick="trackOutboundLink('https://tothtamas.tt/'); return false;"
                href="https://tothtamas.tt/"
                class="text-gray-light">Tóth Tamás</a
              > 2014 - ∞
            </p>
            <p id="footnote" class="target:bg-primary/10">
              <sup>1</sup>
              <span class="text-gray-light">us/our/we</span> refers to myself, my alter
              ego and I, the
              <abbr title="Chief executive officer" class="text-gray-light"
                >CEO</abbr
              >,
              <abbr title="Chief technology officer" class="text-gray-light"
                >CTO</abbr
              > and
              <abbr title="Obsessive–compulsive disorder" class="text-gray-light"
                >OCD</abbr
              > of Expect.
            </p>
            <p>
              Infinity font by <a
                onclick="trackOutboundLink('https://hungarumlaut.com/'); return false;"
                href="https://hungarumlaut.com/"
                class="text-gray-light">Katyi Ádám</a
              >
            </p>
            <p>
              Header image by <a
                onclick="trackOutboundLink('https://en.wikipedia.org/wiki/Stanley_Kubrick_Archive'); return false;"
                href="https://en.wikipedia.org/wiki/Stanley_Kubrick_Archive"
                class="text-gray-light">Stanley Kubrick Archive</a
              >
            </p>
          </div>
          <div class="lg:col-span-4 px-[15px]">
            <div class="logo-footer float-right">
              <i>et</i>
              <p class="text-center text-gray-light">Expect us.</p>
            </div>
            <ul class="list-unstyled list-inline list-social float-right">
              {socialLinks.map((link) => (
                <li>
                    <a
                    onclick={`trackOutboundLink('${link.url}'); return false;`}
                    href={link.url}
                    class={`${link.classes}`}
                  >
                    <i>{link.icon}</i>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </div>
        <img
          itemprop="image"
          src="img/cover1600x1300.png?ver=28082025"
          alt="Expect"
          width="1600"
          height="1300"
          class="sr-only"
        />
      </div>
    </div>
  </div>
</footer>
