---
import Beyond from "./Beyond.astro";
import IconAstronaut from "./icons/IconAstronaut.astro";
import IconJetsons from "./icons/IconJetsons.astro";
import IconUfo from "./icons/IconUfo.astro";
import IconHal9000 from "./icons/IconHal9000.astro";
import IconMonolith from "./icons/IconMonolith.astro";
import IconLaika from "./icons/IconLaika.astro";
import IconHelmet2001 from "./icons/IconHelmet2001.astro";
import IconHelmet2001Profile from "./icons/IconHelmet2001Profile.astro";

const services = [
  {
    icon: "helmet2001profile",
    title: "Design 2 HTML",
    description: `<a href="#portfolio" class="text-primary">I am a UI developer with i++ years of experience — the glue between frontend, backend, and design. Not from an arts academy, but instinct tells me when a color palette is off or a space is missing between words. My core competency lies in the fine details.</a>`,
  },
  {
    icon: "jetsons",
    title: "Accessibility",
    description: `Web accessibility is ensured by staying up to date with the latest W3C standards, including <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.2, Section
508, <abbr title="Accessible Rich Internet Applications">WAI-ARIA</abbr>, and
Schema.org. Following these rules from the start ensures built-in
<abbr title="Search engine optimization">SEO</abbr>, smooth
<abbr title="User experience">UX</abbr>, quality code, and neat
<abbr title="User interface">UI</abbr> out of the box.`,
  },
  {
    icon: "ufo",
    title: "Speed optimization",
    description: `Performance is carefully fine-tuned — Core Web Vitals like LCP and CLS, async & defer, critical above-the-fold CSS, and seamless FOUT/FOIT/FOFT handling. Lazy loading, blazing-fast coding.`,
  },
  {
    icon: "monolith",
    title: "Consultation",
    description: `Overwhelmed by front-end details? I spot UI bottlenecks and tackle questions like ‘Are custom-looking checkboxes necessary?’, ‘How to ensure keyboard accessibility?’, or ‘Pixel-perfect vs. generic?’ — keeping the big picture in focus.`,
  },
  {
    icon: "hal9000",
    title: "AI",
    description: `I can handle Git from the command line or SSH into a remote server, but I’m most confident with my AI copilot HAL 9000 — boosting speed, filling gaps, and streamlining my workflow.`,
  },
  {
    icon: "laika",
    title: "Paw patrol",
    description: `Brainstorming on four paws — I take long walks with my dogs to avoid burnout and let ideas marinate away from the screen.`,
  },
];
---

<section class="beyond">
  <h2
    class="sr-only font-serif font-light leading-[1.1] mb-6 uppercase text-[46px] text-center md:-mt-[50px]"
  >
    Frontend <span class="text-primary">& beyond</span>
  </h2>
  <Beyond />
  <p
    class="text-center text-lg italic mb-3 before:border-t-2 before:border-black dark:before:border-gray before:block before:mx-auto before:my-[35px] before:w-[150px]"
  >
    Show me yours <sup class="">[design],</sup> I’ll show you mine <sup class="">&lt;code&gt;.</sup>
  </p>
  <div class="grid md:grid-cols-12 -mx-[15px]">
    <div class="md:col-span-10 md:col-start-2 px-[15px]">
      <div class="grid md:grid-cols-12 -mx-[15px]">
        {
          services.map((service) => (
            <div class="md:col-span-4 px-[15px] xl:px-10 hover:scale-110 transition-all duration-200 ease-in-out">
              {service.icon === "astronaut" && <IconAstronaut class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "jetsons" && <IconJetsons class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "ufo" && <IconUfo class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "hal9000" &&  <IconHal9000 class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "monolith" &&  <IconMonolith class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "laika" &&  <IconLaika class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "helmet2001" &&  <IconHelmet2001 class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              {service.icon === "helmet2001profile" &&  <IconHelmet2001Profile class="mx-auto opacity-50 mt-[50px] mb-5 size-[66px]" />}
              <h3
                class="font-serif font-light leading-[1.1] uppercase text-center text-black dark:text-white text-2xl mb-[30px]"
                set:html={service.title}
              />
              <p class="mb-10" set:html={service.description} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<style>
  @media (min-width: 1200px) {
    .beyond .sm:col-span-4 {
      padding: 0 40px;
    }
  }

  .beyond i {
    opacity: 0.5;
    margin: 50px auto 20px;
    display: block;
    font-size: 66px;
    line-height: 1;
    text-align: center;
  }
</style>