<section class="stars">
  <div class="container">
    <div class="grid sm:grid-cols-12 gap-4">
      <div class="sm:col-span-10 sm:col-start-2">
        <h1>It's full of stars</h1>
        <p>
          Expect extraordinary taste, subtle details and sophisticated code.
          <br />
          <span class="color-magenta">Expect the unexpected.</span>
        </p>
        <div class="monolith-container">
          <div class="monolith show-front">
            <figure class="front"></figure>
            <figure class="back"></figure>
            <figure class="right"></figure>
            <figure class="left"></figure>
            <figure class="top"></figure>
            <figure class="bottom"></figure>
          </div>
        </div>
      </div>
    </div>
    <div class="moonlanders"></div>
  </div>
</section>
