<section class="stars">
  <div class="container-bootstrap">
    <div class="grid md:grid-cols-12 -mx-[15px]">
      <div class="md:col-span-10 md:col-start-2 px-[15px]">
        <h1>It's full of stars</h1>
        <p>
          Expect extraordinary taste, subtle details and sophisticated code.
          <br />
          <span class="color-magenta">Expect the unexpected.</span>
        </p>
        <a class="monolith-container block text-magenta outline-none" href="https://www.youtube.com/watch?v=ou6JNQwPWE0">
          <div class="monolith show-front">
            <figure class="front outline-offset-0"></figure>
            <figure class="back outline-offset-0"></figure>
            <figure class="right outline-offset-0"></figure>
            <figure class="left outline-offset-0"></figure>
            <figure class="top outline-offset-0"></figure>
            <figure class="bottom outline-offset-0"></figure>
          </div>
        </a>
      </div>
    </div>
    <div class="moonlanders"></div>
  </div>
</section>
