<section
  class="stars bg-[url('/img/moon-surface.png?ver=28082025')] bg-bottom bg-no-repeat bg-[length:100%_auto] max-md:bg-[length:140%_auto] 2xl:bg-[center_300px]"
>
  <div class="container-bootstrap relative">
    <div class="grid md:grid-cols-12 -mx-[15px]">
      <div class="md:col-span-10 md:col-start-2 px-[15px]">
        <h1
          class="font-serif font-light leading-[1.1] mb-6 uppercase text-[46px]"
        >
          It's full of stars
        </h1>
        <p class="mb-3">
          Expect extraordinary taste, subtle details and sophisticated code.
          <br />
          <a href="#monolith" class="text-primary">Expect the unexpected.</a>
        </p>
        <a
          id="monolith"
          class="monolith-container block text-primary focus-visible:outline-0"
          href="https://www.youtube.com/watch?v=ou6JNQwPWE0"
          rel="noopener noreferrer"
        >
          <div class="monolith show-front">
            <figure class="front bg-primary/50 block absolute outline-offset-0"></figure>
            <figure class="back bg-primary/50 block absolute outline-offset-0"></figure>
            <figure class="right bg-primary/50 block absolute outline-offset-0"></figure>
            <figure class="left bg-primary/50 block absolute outline-offset-0"></figure>
            <figure class="top bg-primary/50 block absolute outline-offset-0"></figure>
            <figure class="bottom bg-primary/50 block absolute outline-offset-0"></figure>
          </div>
        </a>
      </div>
    </div>
    <div class="moonlanders"></div>
  </div>
</section>

<style>
  .moonlanders {
    background: transparent url("/img/moonlanders.png?ver=28082025") top left
      no-repeat;
    width: 525px;
    height: 300px;
    background-size: 100% 100%;
    position: absolute;
    bottom: -100px;
    right: 110px;
  }

  @media (min-width: 1200px) {
    .moonlanders {
      right: 130px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .moonlanders {
      right: 70px;
    }
  }

  @media (max-width: 767px) {
    .moonlanders {
      bottom: -40px;
      height: 200px;
      right: 50px;
      width: 350px;
    }
  }

  @media (max-width: 480px) {
    .moonlanders {
      bottom: -40px;
      height: 150px;
      right: 30px;
      width: 263px;
    }
  }

  /* monolith */
  .monolith-container {
    width: 120px;
    height: 270px;
    position: relative;
    perspective: 500px;
    margin-top: 50px;
  }

  .monolith {
    animation: spinX 30s infinite linear;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s ease 0s;
    width: 100%;
    height: 100%;

    figure {
      backface-visibility: hidden;
    }

    .front,
    .back {
      height: 270px;
      width: 120px;
    }

    .right,
    .left {
      height: 270px;
      left: 45px;
      width: 30px;
    }

    .top,
    .bottom {
      height: 30px;
      top: 120px;
      width: 120px;
    }

    .front {
      transform: rotateX(0deg) translateZ(15px);
    }

    .back {
      transform: rotateX(-180deg) translateZ(15px);
    }

    .right {
      transform: rotateY(90deg) translateZ(60px);
    }

    .left {
      transform: rotateY(-90deg) translateZ(60px);
    }

    .top {
      transform: rotateX(90deg) translateZ(135px);
    }

    .bottom {
      transform: rotateX(-90deg) translateZ(135px);
    }

    .no-csstransforms3d & {
      .back,
      .right,
      .left,
      .top,
      .bottom {
        display: none;
      }
    }
  }
</style>
