---
import BrandLogos from "./BrandLogos.astro";
import evaPod from "./icons/eva-pod.svg";
---

<section
  class="infinity text-center min-h-screen px-0 overflow-hidden relative"
>
  <div class="absolute inset-10 top-1/6 flex flex-wrap gap-4">
    <BrandLogos />
  </div>
  <img
    data-speed="0.5"
    src={evaPod.src}
    alt="Eva pod"
    class="size-20 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
    width="80"
    height="80"
  />

  <div class="container-bootstrap relative z-10"></div>
</section>

<style>
  .infinity {
    background-image: url("../img/infinity.webp?ver=28082025");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>
