---
import BrandLogos from "./BrandLogos.astro";
---

<section class="infinity text-center py-[350px] max-md:py-20 px-0 overflow-hidden relative">
  <div class="absolute inset-10 top-1/6 flex flex-wrap gap-4">
    <BrandLogos />
  </div>

  <div class="container-bootstrap relative z-10">
  </div>
</section>

<style>
  .infinity {
    background-image: url("../img/infinity.webp?ver=28082025");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
