<section class="intermission">
  <div class="container-bootstrap">
    <div class="grid md:grid-cols-12 -mx-[15px]">
      <div class="md:col-span-10 md:col-start-2 px-[15px]">
        <h1 class="font-serif font-light leading-[1.1] mb-6 uppercase text-[46px] text-white">Inter<wbr />mission</h1>
        <p class="mb-3 text-white">
          Read our <a
            onclick="trackOutboundLinkWithDelay('https://cv.tothtamas.tt/'); return false;"
            href="https://cv.tothtamas.tt/"
            class="color-primary">freelancing manifesto</a
          > to see if we're a match.
        </p>
      </div>
    </div>
    <div class="animation-placeholder">
      <div class="animation-spin">
        <a
          class="aspect-square size-11 flex items-center justify-center"
          onclick="trackOutboundLinkWithDelay('https://cv.tothtamas.tt/'); return false;"
          href="https://cv.tothtamas.tt/"><i>poole</i></a
        >
      </div>
    </div>
  </div>
</section>
