---
import AsciiArt from "../components/AsciiArt.astro";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>Expect Web Development</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VKD60BWM76"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-VKD60BWM76");
</script>

<meta name="description" content="Frontend & beyond" />
<meta name="author" content="@talpitoo" />
<AsciiArt />
<meta property="og:title" content="Expect Web Development" />
<meta property="og:description" content="Frontend & beyond" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://talpitoo.com/expect-agency/" />
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover1600x1300.png?ver=28082025"
/>
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover-accent1200x630.png?ver=28082025"
/>
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover1200x630-dreamers.png?ver=28082025"
/>
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover1200x630-upwork.png?ver=28082025"
/>
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover1200x630-novalite.png?ver=28082025"
/>
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover1200x630-tt.png?ver=28082025"
/>
<meta
  property="og:image"
  content="https://talpitoo.com/expect-agency/img/cover1200x630-vackor.png?ver=28082025"
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@talpitoo" />
<meta name="twitter:creator" content="@talpitoo" />
<meta name="twitter:title" content="Expect Web Development" />
<meta name="twitter:description" content="Frontend & beyond" />
<meta
  name="twitter:image"
  content="https://talpitoo.com/expect-agency/img/cover-accent1200x630.png?ver=28082025"
/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />

<!-- new, 2024 favicons... -->
<link rel="icon" href="favicon.ico" sizes="32x32" />
<link rel="icon" href="img/et.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png" /><!-- 180×180 -->
<link rel="manifest" href="site.webmanifest" />

<!-- old, 2014 favicons...
	<meta name="application-name" content="Expect Web Development">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-square70x70logo" content="img/cover70x70.png">
	<meta name="msapplication-square150x150logo" content="img/cover150x150.png">
	<meta name="msapplication-wide310x150logo" content="img/cover310x150.png">
	<meta name="msapplication-square310x310logo" content="img/cover310x310.png">

	<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152-precomposed.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120-precomposed.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76-precomposed.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57-precomposed.png">

	<link rel="icon" sizes="196x196" href="img/cover196x196.png" type="image/png">
	<link rel="icon" sizes="160x160" href="img/cover160x160.png" type="image/png">
	<link rel="icon" sizes="96x96" href="img/cover96x96.png" type="image/png">
	<link rel="icon" sizes="32x32" href="img/cover32x32.png" type="image/png">
	<link rel="shortcut icon" sizes="16x16" href="favicon.ico">
	-->

<!-- inline critical/above the fold css -->
<!-- smoosh -->
<!-- build:css css/above-the-fold.css -->
<!-- <link rel="stylesheet" href="css/above-the-fold.css" /> -->
<!-- endbuild -->
<!-- endsmoosh -->

<noscript>
  <!-- build:css css/main.css -->
  <!-- <link rel="stylesheet" href="css/main.css" /> -->
  <!-- endbuild -->
</noscript>
