---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Meta from "../components/Meta.astro";
import ScriptGA from "../components/ScriptGA.astro";
import Footer from "../components/Footer.astro";
import Awwwards from "../components/Awwwards.astro";
---

<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <Meta />
  </head>
  <!-- TODO: check itemptype for other pages -->
  <body itemscope itemtype="http://schema.org/WebPage">
    <noscript>
      <div
        style="color: oklch(55.4% .135 66.442); background-color: oklch(98.7% .026 102.212); padding: 10px;"
      >
        ⚠️ <strong>Warning!</strong> For a better experience, enable JavaScript in
        your browser.
      </div>
    </noscript>
    <!--[if lt IE 11]>
        <div style="color: oklch(55.4% .135 66.442); background-color: oklch(98.7% .026 102.212); padding: 10px;">
          ⚠️ <strong>Warning!</strong> You are using an <strong style="text-decoration: underline;  text-underline-offset: 2px; text-decoration-thickness: 2px;">outdated</strong> browser. Please <strong><a href="http://browsehappy.com/">upgrade your browser</a></strong> to improve your experience.
        </div>
    <![endif]-->
    <ScriptGA />
    <Hero />
    <main>
      <slot />
    </main>
    <Footer />
    <Awwwards />

    <script src="/js/main.js" is:inline async></script>
  </body>
</html>
